.container{
    display: flex;
    height: 90vh;
    align-items:center;
    justify-content: center;
    column-gap: 150px;
    background-color: white;
    
}
.headline p{ 
    text-align: justify;
    padding-top: 10px;
    width: 400px;
   
}