.container{
    display: flex;
    height: 90vh;
    align-items:center;
    justify-content: center;
    column-gap: 150px;
    background-color: white;
    
}
.headline p{ 
    text-align: justify;
    padding-top: 10px;
    width: 400px;
    font-size: 1.5rem;
   line-height: 150%;
}
.image{ 
    margin-top: -150px;
}
h1,span{
    font-weight: 600;
    font-size: 2.5rem;
}